@import "./reset";
@import "./global";
@import "./fonts";


.App{
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.grid{
    &__overlay{
        transition: all .3s;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        & button{
            transition: all .3s;
        }
        &:hover{
            background-color:rgba(0, 0, 0, 0.50);
            & button{
                opacity: 1;
            }
        }
        &--fixed{
            background-color:rgba(0, 0, 0, 0.50);
        }
    }
}

.habit{
    &--completed{
        text-decoration: line-through !important;
        order: 2
    }
}

.left-side{
    max-width: 385px;
    width: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
}

.tab{
    &__name{
        font-size: 30px;
    }
}

.right-side{
    background-color: #2C2C2C;
    width: 100%;
    &__top{
        margin-bottom: 33px;
    }
}

.user-list{
    &__title{
        margin-bottom: 30px;
    }
    &__item{
        margin-bottom: 20px;
    }
    &__habits{
        margin-left: 35px;
    }
}

.side-tabs{
    flex-grow: 2;
}

.areas{
    margin-bottom: 15px;
}

.MuiFormLabel-root{
    font-family: "Metrophobic", sans-serif !important;
}

.date-top{
    margin-top: 25px;
    font-family: "Nunito", sans-serif;
    font-size: 36px;
    line-height: 49px;
    font-weight: 700;
}

.info-box{
    &__inner{
        display: flex;
    }
    &__calendar{
        margin-right: 30px;
        width: 100%;
        max-width: 388px;
    }
    &__progress{
        margin-right: 30px;
    }
}

.progress-wrapper{
    width: 100%;
    box-shadow: 0px 4px 30px 7px rgba(0, 0, 0, 0.25);
    border: 1px solid #FF1818;
    border-radius: 8px;
    &__text--bold{
        font-weight: 700;
    }
}

.picker-legend{
    display: flex;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 24px;
    &__item{
        padding-left: 22px;
        position: relative;
        margin-right: 17px;
        font-family: "Rubik", serif;
        color: #fff;
        font-weight: 400;
        &::before{
            content: "";
            width: 17px;
            height: 17px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 2px;
        }
    }
    &__item--all{
        &::before{
            background-color: #F84343;
        }
    }
    &__item--some{
        &::before{
            border: 1px solid #F84343;
        }
    }
}

.CircularProgressbar-text{
    font-family: "Nunito", sans-serif;
    dominant-baseline: central !important; 
}

.progress-wrapper{
    background: linear-gradient(66.7deg, #202020 0.5%, #423B3B 46.84%, #202020 99.35%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.gradient-border-bg {
    background: linear-gradient(#ffffff00, #ffffff00) padding-box,
      linear-gradient(45deg, purple, orange) border-box;
    border: 5px solid transparent;
    border-radius: 50px;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }