.profile-tab{
    background-color: #2C2C2C;
    margin: 28px auto 50px;
    border-radius: 15px;
    padding: 18px 25px;
    display: flex;
    font-family: "Noto-sans", sans-serif;
    color: #9D9D9D;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    font-weight: 700;
    max-width: 328px;
    width: 100%;
    &__avatar{
        border: 2px solid #efefef;
    }
    &__greetings{
        margin-left: 15px;
    }
    &__name{
        color: #FFFFFF;
    }
}

.areas{
    text-transform: uppercase;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #7B7C7C;
    padding-left: 17px;
}