.overlay{
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
}

.login{
    position: absolute;
    z-index: 15;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 842px;
    width: 100%;
    padding: 15px 30px;
    background: linear-gradient(114.22deg, rgba(145, 142, 142, 0.1) -22.28%, rgba(107, 93, 93, 0.1) 105.78%);
    border: 1px solid #EFEFEF;
    backdrop-filter: blur(30px);
    border-radius: 25px;
    &__name{
        color: #FFFFFF;
        font-size: 35px;
        padding-bottom: 15px;
        font-family: "Metrophobic", sans-serif;
        line-height: 43px;
        text-align: center;
    }
    &__forgot{
        font-family: 'Metrophobic';
        font-weight: 400;
        font-size:20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;

    }
    .forgot-wrapper{
        margin-bottom: 25px;
    }
    &__register{
        font-family: 'Metrophobic';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;

    }
}

// .TextField-without-border-radius{
//     border-radius:25px;
// }